<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

    <p>
      The Camera should automatically start and be visible, or an error is shown.
    </p>
    <div #videoContainer></div>
  <div id="container">
    <h1>LECTORE 1</h1>
    <readqr-elements></readqr-elements>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <h1>LECTORE2</h1>
     <readcode-elements ></readcode-elements> -->
  </div>
</ion-content>
